.movie-title {
	color: #69224e;
	font-size: 1.5rem;
	
}

.movie-tile {
	position: relative;;
	display: inline-block;
	width: 10rem;
	vertical-align: bottom;
	margin-right: 1rem;
}

.tile-poster {
	width: 100%;
	height: 15rem;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 0.25rem;
}

.tile-title {
	margin-top: 0.5rem;ß
	width: 100%;
	height: 4rem;
	text-align: center;
	font-size: 0.9rem;
	color: #69224e;
}

